<h2 class="title">How to use it</h2>

<p class="description">
  This plugin have 4 important parts
</p>

<h3 class="title">Directories</h3>
<p>
  You can see all directories and files in each one, this is helpful to find files not attached at the database.
</p>
<p>Some plugins/themes do whatever they want, and after some use of your wodpress site you can have this kind of files</p>
<p><b>Be careful some files can be useful to your site</b></p>


<h3 class="title">Files</h3>

<p>You can see all the files in your database, every each one going to have one id</p>

<h3 class="title">Backup</h3>
<p>I'm working on it</p>

<h3 class="title">Options</h3>
<p>
  This is very important for the plugin, please try different configuration before delete all and go crazy.
</p>
