<h2 class="title">PRO version<sup>Working on it</sup></h2>
<p class="description">
  You can found some cool feature like:
</p>
<ul>
  <li>* <b>One click delete:</b> You one have to make one click and you will how the plugin go page by page deleting all
    unused files
  </li>
  <li>* <b>Ignore media files by clicking in the media name</b></li>
  <li>* Restore all backup</li>
  <li>* Delete all backup</li>
</ul>

<h3 class="title">Where you can find the Pro version</h3>
<p>Working on it ;)</p>
