<h2>Warning</h2>

<p class="description">This plugin is used for try to find used media files and delete them, but do this is really dangerous,
  so be careful about what your do it with it</p>

<h3 class="title">Whe try to TRY to find</h3>
<p class="description"> Wordpress is a master peace of software and is used for more than à blog cms,
  you will install every kind of plugin to modify/add feature, and this can change how media files work.</p>
<p class="description">THIS PLUGIN CAN NOT adapt to all plugins/themes you have install/installed, so it's important to understand what is the
  means of</p>
<ul>
  <li>* <b>USED:</b> The plugin THINK that the files is used, because one physical reference has been found in one
    post/page
  </li>
  <li>* <b>UNUSED:</b> The plugin THINK that the files is unused, because any physical reference has been found in one
    post/page, BUT IS REALLY UNUSED? HARD TO SAY, YOU HAVE TO VERIFY BY YOUR OWN
  </li>
  <li>* <b>UNKNOWN:</b> The plugin probably is trying to find more information about the media file</li>
</ul>

<h3 class="title">What to do?</h3>
<p class="description">
  The plugin take a lot of effort to make it safe to work with it, BUT DO NOT TRUST IT, use other backup system, before use it (every time)
</p>
<p class="description">
  Go easy at the begin and see if it's working like it should and only after that go crazy
</p>

<h3 class="title">What about the backup system?</h3>
<p class="description">
  The plugin have one simple backup system, but is not this main purpose of the plugin make backups and neither to wide use.
</p>
